@import url("https://fonts.googleapis.com/css2?family=Nova+Square&display=swap");

// Variables
$pink: #f45b69;
$white: #f6e8ea;
$dark-grey: #22181c;
$dark-red: #5a0001;
$bright-red: #fd151b;
$darkColor: #d22;
// $lightColor: #fff;
$lightColor: #222;
// $lightColor: $dark-grey;
// $hilightColor: #f99;
$hilightColor: #fff;

$offset-position: 1000px;

// Animations
@keyframes slideUp {
	0% {
		margin-top: $offset-position;
	}
	100% {
		margin-top: inherit;
	}
}
@keyframes slideLeft {
	0% {
		margin-left: $offset-position;
	}
	100% {
		margin-left: inherit;
	}
}
@keyframes slideRight {
	0% {
		margin-right: $offset-position;
	}
	100% {
		margin-right: inherit;
	}
}

body {
	background-color: #111 !important;
	.catalog-container::after {
		background-color: white;
		position: absolute;
		height: 100%;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		z-index: 999;
	}
	.column-left,
	.column-right,
	.column-center {
		padding: 1em;
	}
}

header a {
	color: white;
	:hover {
		color: #aaa;
		text-decoration: none;
	}
}
// header {
// 	height: 10vh;
// 	max-height: 10vh;
// 	nav {
// 		height: 100%;
// 		width: 100%;
// 		background-color: $blue;
// 		color: white;
// 		display: flex;
// 		justify-content: space-evenly;
// 		align-items: center;
// 		padding: 0 1em;
// 		text-transform: uppercase;
// 	}
// }
body {
	overflow: hidden !important;
}
.window-controls {
	position: fixed;
	right: 0;
	display: flex;
	top: 0.5em;
}
.navbar {
	background-color: $darkColor !important;
	position: sticky !important;
	top: 0;
	-webkit-app-region: drag;
	a,
	button {
		-webkit-app-region: no-drag;
	}
}

.navbar-toggler-icon {
	background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%280, 0, 0, 0.5%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e") !important;
}

.catalog-container {
	padding: 1em;
	text-align: center;

	.catalog-interaction-menu {
		display: flex;
		justify-content: center;
		align-items: center;
		strong {
			color: white;
			text-transform: uppercase;
			font-size: 2em;
			display: block;
			padding-bottom: 0.5em;
		}
		.catalog-interaction {
			width: 100%;
			display: flex;
			justify-content: center;
			align-items: center;
			margin-bottom: 1em;
			.episode-search {
				width: 100%;
				max-width: 800px;
				background-color: transparent;
				border-radius: 5px;
				padding: 0.5em;
				color: white;
			}
		}
	}
	.catalog {
		display: grid;
		grid-gap: 1em;
		grid-template-columns: 1fr;
		overflow: auto;
		max-height: 84vh;
		@media screen and (min-width: 600px) {
			grid-template-columns: repeat(2, 1fr);
		}
		@media screen and (min-width: 800px) {
			grid-template-columns: repeat(3, 1fr);
		}
		@media screen and (min-width: 1200px) {
			grid-template-columns: repeat(5, 1fr);
		}
		> * {
			animation: 500ms ease-in-out slideUp;
		}
		.episode {
			background-color: white;
			border-radius: 5px;
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;

			img {
				width: 80%;
				height: auto;
			}
		}
	}
}

a {
	color: white !important;
	text-decoration: none;
	font-weight: bold;
}

.episode-container {
	display: grid;
	grid-template-columns: 1fr;
	@media screen and (min-width: 800px) {
		grid-template-columns: 1fr 3fr 1fr;
	}
	.column-left {
		animation: 500ms ease-in-out slideRight forwards;
		animation-delay: 1s;
		margin-right: $offset-position;
	}
	.column-center {
		animation: 500ms ease-in-out slideUp forwards;
		margin-top: $offset-position;
	}
	.column-right {
		animation: 500ms ease-in-out slideLeft forwards;
		animation-delay: 1s;
		margin-left: $offset-position;
	}
}

#video-player {
	position: relative;
	overflow: hidden;
	.vp-next,
	.nextEpisodePreview {
		position: absolute;
		top: 0.5em;
		color: white;
		padding: 0.5em;
		border-radius: 5px;
	}
	.vp-next {
		right: 0.5em;
		opacity: 0.2;
	}
	.nextEpisodePreview {
		right: -1000px;
		background-color: #333;
		transition: right 250ms ease-in-out;
	}
	.vp-next:hover + .nextEpisodePreview,
	.nextEpisodePreview:hover {
		right: 0.5em;
	}
}

.title {
	font-family: "Nova Square", cursive;
	font-size: 3em;
	// font-weight: bolder;
	color: #f22;
	position: relative;
}
.underline {
	height: 5px;
	width: 0;
	position: absolute;
	bottom: 0;
	left: 0;
	transition: width 250ms ease-in-out;
	transition-delay: 250ms;
}
#wrapper {
	position: relative;
	width: 100%;
	min-height: 100vh;
	overflow: hidden;
}
.layer {
	position: absolute;
	width: 100vw;
	min-height: 100vh;

	overflow: hidden;
	transition: all 250ms ease-in-out;
}
input {
	border: none;
	background-image: none;
	background-color: transparent;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
}

.layer .content-wrap {
	position: absolute;
	width: 100vw;
	/*   min-height: 55vw; */
}
.content-body {
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
	transition: opacity 250ms ease-in-out;
}

.top .title {
	text-align: left;
	position: absolute;
	top: 70vh;
	left: 2em;
	transform: rotate(30deg);
}
.bottom .title {
	color: $lightColor;
	text-align: right;
	position: absolute;
	top: 20vh;
	right: 2em;
	transform: rotate(30deg);
}

.skewed .top {
	transform: skew(-130deg);
	margin-left: -1000px;
	width: calc(50vw + 1000px);
	.content-wrap {
		transform: skew(130deg);
		margin-left: 1000px;
		transition: all 250ms ease-in-out;
	}
}

form {
	display: flex;
	flex-direction: column;
	opacity: 0;
	max-width: 22vw;
	input,
	.button {
		padding: 0.5em;
		margin: 0.5em;
		width: 100%;
		box-sizing: border-box;
	}
	.button {
		text-align: center;
		border-radius: 5px;
		border-width: 2px;
		border-style: solid;
		font-weight: bold;
		text-transform: uppercase;
		&:hover {
			cursor: pointer;
		}
	}
	.button.login {
		border-color: $lightColor;
		color: $lightColor;
	}
}
.top {
	.button {
		border-color: $darkColor;
		color: $darkColor;
	}
	z-index: 2;
	background-color: $lightColor;
	width: 50vw;

	input {
		background-color: transparent;
		// color: black;
		color: $darkColor;
		border-radius: 5px;
		// border-color: black;
		border-color: $darkColor;
	}
	.title {
		.underline {
			background-color: $darkColor;
		}
	}
}
.bottom {
	background-color: #f22;
	z-index: 1;

	input {
		background-color: transparent;
		color: $lightColor;
		border-radius: 5px;
		border-color: $lightColor;
	}
	.title {
		.underline {
			background-color: $lightColor;
		}
	}
}

.hilight-text {
	color: $hilightColor;
	font-weight: 600;
	animation-name: greet;
	animation-duration: 500ms;
	animation-iteration-count: infinite;
	animation-timing-function: ease-in-out;
	animation-direction: alternate;
	white-space: nowrap;
}
@keyframes greet {
	from {
		font-size: 1em;
		transform: rotate(-2deg);
	}
	to {
		font-size: 1.2em;
		transform: rotate(2deg);
	}
}
#video-player {
	position: relative;
	margin: 0;
	padding: 0;
	&:hover .vp-controls {
		transform: translateY(0);
	}
	.vp-controls {
		display: flex;
		position: absolute;
		bottom: 0;
		width: 100%;
		flex-wrap: wrap;
		background-color: rgba(0, 0, 0, 0.7);
		opacity: 1;
		transform: translateY(100%) translateY(-5px);
		transition: transform 200ms ease-in-out;
		.buttons {
			button {
				background: none;
				border: 0;
				outline: 0;
				cursor: pointer;
				color: white;
				padding: 0.5em;
			}
		}
		.orange-bar,
		#progress {
			height: 0.5em;
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			.orange-juice {
				height: 0.5em;
				background-color: red;
			}
		}
		#progress {
			z-index: 999;
			background-color: none;
		}
	}
}
